body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#join-container, #video-container {
  text-align: center;
}

#localVideo, #remoteVideo {
  width: 300px;
  height: 200px;
  background-color: black;
  margin: 10px;
}

#chat-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

#chat-box {
  max-height: 100px;
  overflow-y: auto;
  margin-bottom: 10px;
}

#chatInput, #sendBtn {
  margin: 5px 0;
}
